<div id="automobile" class="travel hoverable">
  <div class="content automobile-content">
    <p>Parking is available at all three hotels for a nightly fee. Parking is at a premium in Boston, so the hotel rates are comparable to other lots in town.</p>
    <p>Driving Directions: www.maps.google.com</p>
  </div>
</div>
