<div id="beach-hero">
  <%= image_tag("https://s3.amazonaws.com/mtk-wedding/homepage_hero_cut.png", id: "beach-hero-image") %>
  <%= image_tag("https://s3.amazonaws.com/mtk-wedding/mobile_hero_image.png", id: "mobile-beach-hero-image") %>
</div>
