<h2>~ Best of Boston ~</h2>
<div id="best-of-boston-section" class="container">
  <p>If you’re spending the weekend with us, Boston is a great city to explore and, weather gods willing, it should be gorgeous in May. With over 50-some colleges here and the best sports teams in the country (yes, we’re talking smack!) places like Harvard Square or Fenway Park are great places to visit. We’ve selected a few of our personal favorites below, which is by no means a comprehensive list.</p>

  <p>If you have any questions, don’t hesitate to email us at <a href="mailto:christinawedsmatt@gmail.com">christinawedsmatt@gmail.com</a>!</p>

  <h3 style="text-align:center"><strong>Places of Interest</strong></h3>
  <br>
  <h4>The South End</h4>
  <p>This where we live and the largest Victorian brick rowhouse district in the country. It’s a great place to walk around and has the best dining in the city. You’ll get a sneak peek of the area at our Welcome Party on Saturday.</p>
  <br>
  <h4>Beacon Hill</h4>
  <p>This neighborhood is famous for its brick and stone Federal, Greek Revival and Gothic-style buildings. Walk along Charles Street and explore the shops or grab a bite to eat. For anyone staying at the Liberty Hotel, this is your ‘hood.</p>

  <br>
  <h4>The Boston Common</h4>
  <p>In the nation’s oldest park you can see “Make Way for Ducklings” sculpture (a tribute to Robert McCloskey’s picture book) and the bench featured in the film “Good Will Hunting” (now an unofficial memorial to the late Robin Williams).</p>

  <br>
  <h4>The Public Garden</h4>
  <p>Next to the Boston Common stop by to check out the beautiful Garden. In May, you can take a boat ride in one the 19th-century Swan Boats.</p>

  <br>
  <h4>The Freedom Trail</h4>
  <p>The classic tour begins at Boston Common. From there you can follow the 2.5-mile painted path, which winds its way through 16 Revolutionary-era sites. You’ll walk by the Paul Revere Memorial where Matt used to live just next door.</p>

  <br>
  <h4>Boston Public Library</h4>
  <p>Visit the library to see John Singer Sargent’s spectacular ceiling mural cycle “Triumph of Religion.” You’ll see more Sargent at the wedding on Sunday too! Outside the library, on Boylston between Exeter and Dartmouth streets, is where the Boston Marathon finish line is located.</p>

  <br>
  <h4>Fenway Park</h4>
  <p><a target="_blank" style="text-decoration:none" href="http://boston.redsox.mlb.com/bos/ballpark/tour.jsp">Fenway</a> is the oldest park in Major League Baseball and home to the Green Monster. We took a tour of the park with Matt’s parents and had a blast!</p>

  <br>
  <h4>Fort Point & Seaport District</h4>
  <p>This area is being rapidly developed in Boston and home to some of our favorite places including Menton where we ate the night Matt proposed. There’s great food and even an adult park called the Lawn on D with bocce ball and cornhole.</p>

  <br>
  <h4>Improv Asylum</h4>
  <p>Matt can be seen performing at <a target="_blank" style="text-decoration:none" href="http://www.improvasylum.com/shows/schedule/default.aspx">Improv Asylum's</a> House Teams show on Tuesdays. If you’re in town Friday night or want to catch the afternoon show on Saturday, you won’t be disappointed.</p>

  <br>
  <h4>The Isabella Stuart Gardner</h4>
  <p>Second only to the MFA, this is one of our favorite museums in the city. Stop by to enjoy a curated and charming collection and notice the missing paintings stolen in 1990.</p>

  <br>
  <h4>Back Bay</h4>
  <p>This neighborhood is best know for Newbury Street, the Rodeo Drive of Boston. Nearby you can also walk to the Prudential Center and Copley Plaza for any other shopping needs. If you’re staying at the Westin or Sheraton this is your homebase. The best news is an Eataly is opening in the Pru early 2016.</p>

  <h3 style="text-align:center"><strong>Breakfast</strong></h3>

  <h4>Tatte</h4>
  <p>Delicious bakery in Beacon Hill just down the street from the Liberty Hotel</p>
  <br>
  <h4>Tremont 647</h4>
  <p>Best homemade pop tarts for brunch and our neighborhood go to</p>
  <br>
  <h4>Flour Bakery</h4>
  <p>The best sticky bun you’ll ever have and a great local success story --  there are four locations across the city</p>

  <h3 style="text-align:center"><strong>Lunch/Dinner</strong></h3>
  <h4>Neptune Oyster</h4>
  <p>get the lobster roll hot, with butter (it's to.die.for)</p>
  <h4>The Salty Pig</h4>
  <p>Awesome charcuterie, cheese plates and pizzas</p>
  <h4>Boston Chops</h4>
  <p>Our favorite steakhouse in Boston</p>
  <h4>O Ya</h4>
  <p>Where Matt & Christina once ate next to Ryan Renyolds, Blake Lively, Kevin Bacon and Kira Kyra Sedgwick.</p>
  <br>
  ***
  <p><em>Also be sure to check out LevelUp which will show you restaurants nearby you can order ahead and pay at. We met at LevelUp back in 2010 and Christina still works there.</em></p>

</div>
