<div id="boston-section">
  <%= image_tag("https://s3.amazonaws.com/mtk-wedding/boston.png", id: "boston-image") %>
  <div id="boston-content">
    <h1 class="section-header">Weekend Events</h1>
    <div id="saturday" class="daily-agenda">
      <h3>Saturday</h3>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
        <li>Item 7</li>
        <li>Item 8</li>
      </ul>
      </ul>
    </div>
    <div id="sunday" class="daily-agenda">
      <h3>Sunday</h3>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
        <li>Item 7</li>
        <li>Item 8</li>
      </ul>
    </div>
    <div id="monday" class="daily-agenda">
      <h3>Monday</h3>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
        <li>Item 7</li>
        <li>Item 8</li>
      </ul>
    </div>
  </div>
</div>
