<div id="hotels-section" class="hotels-container container">
  <h2>Accomodations</h2>
  <p class="mention">Mention the Dorobek Kiernan wedding when booking. Transportation will be provided at each hotel to and from the wedding.</p>
  <div class="row hotel-rows">
    <div class="col-md-4">
      <%= render "liberty" %>
    </div>
    <div class="col-md-4">
      <%= render "westin" %>
    </div>
    <div class="col-md-4">
      <%= render "sheraton" %>
    </div>
  </div>
</div>
