<div class="hotels-container container">
  <h2>Accomodations</h2>
  <div class="container">
    <div class="row hotel-rows">
      <div class="col-md-4">
        <%= render "liberty" %>
      </div>
      <div class="col-md-4">
        <%= render "westin" %>
      </div>
      <div class="col-md-4">
        <%= render "sheraton" %>
      </div>
    </div>
  </div>
</div>
