<div class="hotels-container container">
  <h2>Accomodations</h2>
  <div class="container">
    <div class="row hotel-rows">
      <div class="col-md-4">
        <div id="liberty" class="hotel">
          <div class="content liberty-content">
            <h4>The Liberty Hotel</h4>
            <p>215 Charles St, Boston, MA 02114<br />
            (617) 224-4000<br />
            <a href="http://www.libertyhotel.com">libertyhotel.com</a></p>
            <p>From $349/night<p>
            <ul>
              <li>Dog friendly, parking available. Closest T stop is "Charles MGH"</li>
              <li>The bride & groom had their first date at Liberty's Alibi bar.</li>
              <li>The hotel has three restaurants and will have newly renovated rooms come 2016.</li>
              <li>You're just steps from boston's historic Beacon Hill with an easy walk to the public garden,
              Newburyport street, and the start of the freedom trail.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="sheraton" class="hotel">
          <div class="content sheraton-content">
            <h4>The Sheraton</h4>
            <p>39 Dalton St, Boston, MA 02199<br />
            (617) 236-2000<br />
            <a href="http://www.sheratonbostonhotel.com">sheratonbostonhotel.com</a></p>
            <p>From $220/night</p>
            <ul>
              <li>Parking available. Closest T Stop is "Prudential"</li>
              <li>Located on the other end of the Pru, you can walk through the Pru from the Westin to the Sheraton.</li>
              <li>You're steps away from Boylston Street near Northeastern and Berklee</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="marriot" class="hotel">
          <div class="content marriot-content">
            <h4>The Westin Copley</h4>
            <p>10 Huntington Ave, Boston, MA 02116<br />
            (617) 262-9600<br />
            <a href="http://www.westincopleyplaceboston.com/">westincopleyplaceboston.com</a></p>
            <p>From $289/night</p>
            <ul>
              <li>Parking available, closest T stop is "Back Bay" and "Copley"</li>
              <li>Located inside Boston's Prudential Center "The Pru" on the Copley Plaza side.</li>
              <li>You're steps away from the public library & Newbury Street.</li>
              <li>Best yet, Boston's first Eataly is coming to the pru and will be open before the wedding weekend.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
