<div class="tabs-container">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-11">Travel</li>
    <li class="tab-link" data-tab="tab-12">Hotels</li>
    <li class="tab-link" data-tab="tab-13">Things to do in Boston</li>
  </ul>

  <div id="tab-11" class="tab-content current">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="tab-12" class="tab-content">
    <h4>The Liberty, phone number, website</h4>
    <p>$349/night, dog friendly, parking, MGH nearest T</p>
    <ul>
      <li>The bride & groom had their first date at Liberty's Alibi bar.</li>
      <li>The hotel has three restaurants and will have newly renovated rooms come 2016.</li>
      <li>You're just steps from boston's historic Beacon Hill with an easy walk to the public garden,
    Newburyport street, and the start of the freedom trail.</li>
  </ul>

    <h4>The Westin Copley, phone number, website</h4>
    <p>$289/night, parking, back bay or Copley nearest T</p>
    <ul>
      <li>Located inside Boston's Prudential Center "The Pru" on the Copley Plaza side.</li>
      <li>You're steps away from the public library & Newbury Street.</li>
      <li>Best yet, Boston's first eataly is coming to the pru and will be open before the wedding weekend.</li>
  </ul>

    <h4>The Sheraton, phone number, website</h4>
    <p>$220/night, parking, prudential nearest T</p>
    <ul>
      <li>Located on the other end of the Pru, you can walk through the Pru from the Westin to the Sheraton.</li>
      <li>You're steps away from Boylston Street near Northeastern and Berklee</li>
    </ul>
  </div>
  <div id="tab-13" class="tab-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

</div><!-- container -->
