<div id="liberty" class="hotel hoverable">
  <div class="content liberty-content">
    <h4>The Liberty Hotel</h4>
    <p>215 Charles St, Boston, MA 02114<br />
    (617) 224-4000<br />
    <a href="http://www.libertyhotel.com">libertyhotel.com</a></p>
    <p>From $349/night<p>
    <ul>
      <li>Dog friendly, parking available. Closest T stop is "Charles MGH"</li>
      <li>The bride & groom had their first date at Liberty's Alibi bar.</li>
      <li>The hotel has three restaurants and will have newly renovated rooms come 2016.</li>
      <li>You're just steps from boston's historic Beacon Hill with an easy walk to the public garden,
      Newburyport street, and the start of the freedom trail.</li>
    </ul>
  </div>
</div>
