<div id="liberty" class="hotel hoverable">
  <div class="content liberty-content">
    <h4>The Liberty Hotel</h4>
    <p>215 Charles St, Boston, MA 02114<br />
    (617) 224-4000<br />
    <a target="_blank" href="http://www.libertyhotel.com">libertyhotel.com</a><br>
    <a target="_blank" href="https://www.starwoodmeeting.com/events/start.action?id=1503185253&key=11E2749A">Book with our group rate</a></p>
    <p>$349/night with wedding rate (call ahead).<p>
    <ul>
      <li>Dog friendly, parking available. Closest T stop is "Charles MGH"</li>
      <li>We had our first date at Liberty's Alibi bar.</li>
      <li>The hotel has three restaurants and will have newly renovated rooms come 2016.</li>
      <li>You're steps from Boston's historic Beacon Hill and an easy walk to the Public Garden,
      Newbury St, and the Freedom Trail.</li>
    </ul>
  </div>
</div>
