<div id="liberty-section">
  <%= image_tag("https://s3.amazonaws.com/mtk-wedding/liberty.png", id: "liberty-image") %>
  <div id="liberty-content">
    <h1 class="liberty-section-header">Travel & Accomodations</h1>
    <%= render "liberty_tabs" %>
  </div>
</div>
