<div id="mfa-section">
  <div id="mfa-content">
    <div id="mfa-title">
      <span id="mfa-name">Museum of Fine Arts</span>
      <span id="mfa-address">123 Huntington Avenue</span>
    </div>
    <div id="mfa-details">
      <p><span class="mfa-header">6PM Ceremony</span><br />
      <span class="mfa-details">In the Koch Gallery</span></p>

      <p><span class="mfa-header">Cocktail Hour</span><br />
      <span class="mfa-details">In the Rotunda</span></p>

      <p><span class="mfa-header">Reception from 7:30 - Midnight</span><br />
      <span class="mfa-details">In the Wing of the Americas</span></p>
    </div>
  </div>
</div>
