<div id="mobile-nav-bar">
  <ul>
    <li><%= link_to "Hotels", "#hotels-section" %></li>
    <li><%= link_to "Travel", "#travel-section" %></li>
    <li><%= link_to "Weekend Events", "#weekend-events-section" %></li>
    <li><%= link_to "RSVP", rsvp_path %></li>
    <li><a href="#">The Registry <span id="coming-soon">(coming soon)</span></a></li>
</div>
