<div id="mobile-content">
  <%= image_tag("https://s3.amazonaws.com/mtk-wedding/mobile_hero_image.png", id:"mobile-hero") %>
</div>
<div id="accordion">
  <h3>The Wedding</h3>
  <div>
    <p>The Boston Museum of Fine Arts | 123 Huntington Ave</p>
    <p>6PM Ceremony | Koch Gallery</p>
    <p>Cocktail Hour | Rotunda</p>
    <p>Reception from 7:30 - Midnight | Wing of the Americas</p>
  </div>
  <h3>Weekend Events</h3>
  <div>
    <p>Coming Soon!</p>
  </div>
  <h3>Travel & Accomodations</h3>
  <div>
    <p>The Liberty, phone number, website</p>
    <p>$349/night, dog friendly, parking, MGH nearest T</p>
    <ul>
      <li>The bride & groom had their first date at Liberty's Alibi bar.</li>
      <li>The hotel has three restaurants and will have newly renovated rooms come 2016.</li>
      <li>You're just steps from boston's historic Beacon Hill with an easy walk to the public garden,
      Newburyport street, and the start of the freedom trail.</li>
    </ul>

    <p>The Westin Copley, phone number, website</p>
    <p>$289/night, parking, back bay or Copley nearest T</p>
    <ul>
      <li>Located inside Boston's Prudential Center "The Pru" on the Copley Plaza side.</li>
      <li>You're steps away from the public library & Newbury Street.</li>
      <li>Best yet, Boston's first eataly is coming to the pru and will be open before the wedding weekend.</li>
    </ul>

    <p>The Sheraton, phone number, website</p>
    <p>$220/night, parking, prudential nearest T</p>
    <ul>
      <li>Located on the other end of the Pru, you can walk through the Pru from the Westin to the Sheraton.</li>
      <li>You're steps away from Boylston Street near Northeastern and Berklee</li>
    </ul>
  </div>
  <h3>The Registry</h3>
  <div>
    <p>Coming Soon!</p>
  </div>
</div>
