<%= image_tag("https://s3.amazonaws.com/mtk-wedding/mobile_hero_image.png", id:"mobile-hero") %>
<div id="mobile-content">
  <div class="mobile-partition" id="wedding-section">
    <h2>The Wedding</h2>
    <p>Boston Museum of Fine Arts | 123 Huntington Avenue</p>
    <h4>6PM Ceremony</h4>
    <p>In the Koch Gallery</p>
    <h4>Cocktail Hour</h4>
    <p>In the Rotunda</p>
    <h4>Reception from 7:30 - Midnight</h4>
    <p>In the Wing of the Americas</p>
  </div>

  <hr />

  <div class="mobile-partition" id="weekend-events-section">
    <h2>Weekend Events</h2>
    <p>Coming Soon</p>
  </div>


  <hr />

  <div class="mobile-partition" id="travel-section">
    <h2>Travel & Accomodations</h2>
    <h4>The Liberty, phone number, website</h4>
    <p>$349/night, dog friendly, parking, MGH nearest T</p>
    <ul>
      <li>The bride & groom had their first date at Liberty's Alibi bar.</li>
      <li>The hotel has three restaurants and will have newly renovated rooms come 2016.</li>
      <li>You're just steps from boston's historic Beacon Hill with an easy walk to the public garden,
      Newburyport street, and the start of the freedom trail.</li>
    </ul>

    <h4>The Westin Copley, phone number, website</h4>
    <p>$289/night, parking, back bay or Copley nearest T</p>
    <ul>
      <li>Located inside Boston's Prudential Center "The Pru" on the Copley Plaza side.</li>
      <li>You're steps away from the public library & Newbury Street.</li>
      <li>Best yet, Boston's first eataly is coming to the pru and will be open before the wedding weekend.</li>
    </ul>

    <h4>The Sheraton, phone number, website</h4>
    <p>$220/night, parking, prudential nearest T</p>
    <ul>
      <li>Located on the other end of the Pru, you can walk through the Pru from the Westin to the Sheraton.</li>
      <li>You're steps away from Boylston Street near Northeastern and Berklee</li>
    </ul>
  </div>


  <hr />

  <div class="mobile-partition" id="registry-section">
    <h2>The Registry</h2>
    <p>Coming Soon</p>
  </div>
</div>


