<!-- <div id="nav&#45;bar"> -->
<!--   <ul id="nav&#45;list"> -->
<!--     <li>The Wedding</li> -->
<!--     <li>Weekend Events</li> -->
<!--     <li>Travel &#38; Accomodations</li> -->
<!--     <li>The Registry</li> -->
<!--   </ul> -->
<!-- </div> -->

<header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
      <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          <li class="nav-link"><a href="#mfa">The Wedding</a></li>
          <li class="nav-link"><a href="#boston">Weekend Events</a></li>
          <li class="nav-link"><a href="#liberty">Travel & Accomodations</a></li>
          <li class="nav-link"><a href="javascript:void(0)">The Registry <span id="coming-soon">(coming soon)</span></a></li>
        </ul>
      </nav>
    </div>
  </header>

