<div id="nav-bar">
  <ul id="nav-list">
    <li>The Wedding</li>
    <li>Weekend Events</li>
    <li>Travel & Accomodations</li>
    <li>Something Else</li>
    <li>Another Thing</li>
    <li>One Final Thing</li>
  </ul>
</div>
