<div id="desktop-nav-bar">
  <ul>
    <li><%= link_to "Hotels", "#hotels-section" %></li>
    <li><%= link_to "Travel", "#travel-section" %></li>
    <li><%= link_to "Weekend Events", "#weekend-events-section" %></li>
    <li><%= link_to "RSVP", rsvp_path %></li>
    <li><a target="_blank" href="https://www.zola.com/registry/christinawedsmatt">The Registry </a></li>
</div>
