<div id="plane" class="hoverable travel">
  <div class="content plane-content">
    <p>Fly into Boston Logan international airport (BOS). From Logan you can grab a cab to any of the hotels for roughly $30 or take public transportation known as "the T."</p>
    <p>Find Flights: www.hipmunk.com</p>
  </div>
</div>
