<div id="sheraton" class="hotel hoverable">
  <div class="content sheraton-content">
    <h4>The Sheraton</h4>
    <p>39 Dalton St, Boston, MA 02199<br />
    (617) 236-2000<br />
    <a href="http://www.sheratonbostonhotel.com">sheratonbostonhotel.com</a></p>
    <p>From $220/night</p>
    <ul>
      <li>Parking available. Closest T Stop is "Prudential"</li>
      <li>Located on the other end of the Pru, you can walk through the Pru from the Westin to the Sheraton.</li>
      <li>You're steps away from Boylston Street near Northeastern and Berklee</li>
    </ul>
  </div>
</div>
