<div id="train" class="hoverable travel">
  <div class="content train-content">
    <p>South Station and Back Bay Station are the two main train stations in Boston. All hotels are a quick cab ride or accessible by T.</p>
    <p>Find Trains: www.amtrak.com</p>
  </div>
</div>
