<div id="travel-section" class="travel-container container">
  <h2>Travel</h2>
  <p class="mention">Wish you could teleport to Boston? Us too. Here are the next best options.</p>
  <div class="container travel-description">
    <div class="row travel-rows">
      <div class="col-md-4">
        <%= render "plane" %>
      </div>
      <div class="col-md-4">
        <%= render "train" %>
      </div>
      <div class="col-md-4">
        <%= render "automobile" %>
      </div>
    </div>
  </div>
</div>
