<h2>~ Weekend Events ~</h2>
<div id="weekend-events-section" class="weekend-events container">
  <h3>Saturday, May 28</h3><br>
  <p class="events-time">8:00 - 11:00PM<br>
  WELCOME PARTY<br>
  <%= link_to "Stella Boston", "http://o-ya.restaurant/o-ya-boston/" %><br>
  Festive Attire</p><br>
  <p class="event-description">Lite Bites & Desserts will be served and there will be karaoke, so have your song ready! Here's your chance to hear just how tone deaf the bride is.</p>
  <br>
  <p>The bride loves her leopard, feathers and sequins, so feel free to have fun, but there's no need to dress up.</p>
  <br />

  <h3>Sunday, May 29</h3><br>
  <p class="events-time">6:00PM<br>
  CEREMONY & RECEPTION<br>
  <%= link_to "Museum of Fine Arts", "http://o-ya.restaurant/o-ya-boston/" %>, Boston<br>
  Black Tie</p><br>
  <p class="event-description">Transportation to the museum will be available from each hotel and leaves promptly at 5:30PM. This is for real. If you are not on the bus by 5:30, plan on taking a cab or Uber. Transportation back to the hotels will be available from the museum departing on the hour.</p>
  <br>
  <p>We’re donning our finest to get married & we would love to have all of you look just as dashing! If gents want to rent a tux in town we are happy to provide recommendations. We also have discount codes at Men's Wearhouse available to share.</p>
  <br>
  <h3>Monday, May 30</h3><br>
  <p class="events-time">10:00AM - 12:00PM<br>
  FAREWELL BRUNCH<br>
  The Yard, Liberty Hotel<br>
  Casual Attire</p><br>
  <p class="event-description">Recover from the wedding festivities with a Bloody Mary and brunch at the Liberty hotel. Pajamas welcome!</p>
  <br />
</div>

