<h2>~ Weekend Events ~</h2>
<div id="weekend-events-section" class="weekend-events container">
  <h2>Saturday</h2>
  <p>Following the rehearsal, there will be a welcome party for all guests. Location and timing is still TBD but there will be karaoke! Here's your chance to hear just how tone deaf the bride is.</p>
  <br />

  <h2>Sunday</h2>
  <p>The wedding and ceremony are both located at the Museum of Fine Arts, Boston. Festivities begin at 6pm and transportation will be available from each hotel. The after-party will be located at the Liberty hotel.</p>
  <br />

  <h2>Monday</h2>
  <p>Recover from the wedding festivities with a Bloody Mary and brunch at the Liberty hotel.</p>
  <br />
</div>

