<h2>~ Weekend Events ~</h2>
<div id="weekend-events-section" class="weekend-events container">
  <h3>Saturday, May 28</h3><br>
  <p class="events-time">8:00 - 11:00PM<br>
  WELCOME PARTY<br>
  Stella Boston</p><br>
  <p class="event-description">Following the rehearsal, there will be a welcome party for all guests. Location and timing is still TBD but there will be karaoke! Here's your chance to hear just how tone deaf the bride is.</p>
  <br />

  <h3>Sunday, May 29</h3><br>
  <p class="events-time">6:00PM<br>
  CEREMONY & RECEPTION<br>
  Koch Gallery</p><br>
  <p class="event-description">The wedding and ceremony are both located at the Museum of Fine Arts, Boston. Transportation to the museum will be available from each hotel and leaves promptly at 5:30PM. This is for real. If you are not on the bus by 5:30, plan on taking an Uber. Transportation back to the hotels will be available from the museum departing on the hour. If you need to leave at a different time, we recommend ordering a Uber.</p>

  <h3>Monday, May 30</h3><br>
  <p class="events-time">10:00AM - 12:00PM<br>
  FAREWELL BRUNCH<br>
  The Yard, Liberty Hotel</p><br>
  <p class="event-description">Recover from the wedding festivities with a Bloody Mary and brunch at the Liberty hotel.</p>
  <br />
</div>

