<div id="welcome-section">
  <hr />
  <p>Having friends and family from near and far join together to celebrate is such an incredible thing. We think cake, dance floor air guitars and cake are pretty incredible too. Mmm... cake. We can’t wait to see you in May!</p>
  <p>- Christina & Matt</p>
  <hr />
</div>
