<div id="westin" class="hotel hoverable">
  <div class="content westin-content">
    <h4>The Westin Copley</h4>
    <p>10 Huntington Ave, Boston, MA 02116<br />
    (617) 262-9600<br />
    <a target="_blank" href="http://www.westincopleyplaceboston.com/">westincopleyplaceboston.com</a></p>
    <p>From $289/night</p>
    <ul>
      <li>Parking available, closest T stop is "Back Bay" and "Copley"</li>
      <li>Located inside Boston's Prudential Center "The Pru" on the Copley Plaza side.</li>
      <li>You're steps away from the public library & Newbury Street.</li>
      <li>Best yet, Boston's first Eataly is coming to the pru and will be open before the wedding weekend.</li>
    </ul>
  </div>
</div>
