<div id="desktop-version">
  <%= render "nav_bar" %>
  <a name="beach"><%= render "beach_hero" %></a>
</div>
<%= render "hotels" %>
<!-- <div id="mobile&#45;version"> -->
<!--   <%= render "mobile" %> -->
<!-- </div> -->
