<div id="nav-bar">
  <ul id="nav-list">
    <li>The Wedding</li>
    <li>Weekend Events</li>
    <li>Travel & Accomodations</li>
    <li>Something Else</li>
    <li>Another Thing</li>
    <li>One Final Thing</li>
  </ul>
</div>
<div id="beach-hero">
<%= image_tag("https://s3.amazonaws.com/mtk-wedding/homepage_hero_cut.png", class: "hero-image") %>
</div>
<div id="mfa-hero">
<%= image_tag("https://s3.amazonaws.com/mtk-wedding/mfa_hero.png", class: "hero-image") %>
</div>
