<div id="rsvp-section">
  <p id="rsvp-return"><%= link_to "Take me back!", root_path %></p>
  <div id="rsvp-inner-frame">
    <script type="text/javascript" src="http://form.jotform.us/jsform/51855999949181"></script>
  </div>
</div>
