<div id="rsvp-section">
  <a href="/"><%= image_tag "/arrow.png", id:"arrow" %></a>
  <div id="rsvp-inner-frame">
    <script type="text/javascript" src="http://form.jotform.us/jsform/51855999949181"></script>
  </div>
</div>
