@import "bourbon";
@import "neat";


@import "nav-bar";
@import "beach";
@import "mfa";
@import "boston";
@import "liberty";
@import "footer";
@import "flexbox";
@import "mobile";
@import "tabs";
@import "hotels";

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


@font-face {
  font-family: 'Bebas Neue';
  src: url('https://s3.amazonaws.com/mtk-wedding/BebasNeue.otf');
}

@font-face {
  font-family: 'Laser Metal' !important;
  src: url('https://s3.amazonaws.com/mtk-wedding/LaserMetal.ttf');
}

@font-face {
  font-family: Champs;
  src: url('https://s3.amazonaws.com/mtk-wedding/Champagne+%26+Limousines.ttf')
  format('truetype');
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Bebas Neue';
  color: white;
}

// #mobile-version{
//   display: none;
//   color: black;
// }
//
// @media (max-width: 860px){
//   #desktop-version{
//     display: none !important;
//   }
// }
//
// @media (max-width: 860px){
//   #mobile-version{
//     display: block !important;
//     font-family: 'Champs';
//   }
// }
