#beach-hero{
  display: block;
  opacity: 0.9;
  background-image:
  url("https://s3.amazonaws.com/mtk-wedding/homepage_hero_cut.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: -4px;
}

#beach-hero-image{
  visibility: hidden;
  width: 100%;
  margin: -4px;
}
