#beach-hero{
  background-image:
  url("https://s3.amazonaws.com/mtk-wedding/homepage_hero_cut.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.fake-image{
  width: 100%;
  visibility: hidden;
}
