#boston-section{
  position: relative;
  background-image: url("https://s3.amazonaws.com/mtk-wedding/boston.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

#boston-image{
  visibility: hidden;
  width: 100%;
  margin: 0px;
}

#boston-content{
  top: 10%;
  position: absolute;
  @include span-columns(12);
  @include shift(1);
}

#boston-hero-image{
  width: 100%;
  display: block;
  opacity: 0.8;
}

.section-header{
  color: #000000;
  font-size: 40px;
}

.daily-agenda{
  background-color: #ffffff;
  position: relative;
  color: #000000;
  height: 300px;
  padding: 10px;
}

#saturday{
  @include span-columns(3);
}

#sunday{
  @include span-columns(3);
}

#monday{
  @include span-columns(3);
}
