.hotel{
  padding: 0;
  height: 400px;
  margin: auto;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  color: #898d8d;
}

.liberty-content, .sheraton-content, .westin-content{
  display: none;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #888888;
  height: 400px;
  width: 340px;
  font-family: 'Champs';
  padding: 10px;
}

#liberty{
  background-image: url("/liberty.png");
}

#sheraton{
  background-image: url("/sheraton.png");
}

#westin{
  background-image: url("/westin.png");
}

.mention{
  font-family: 'Champs';
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  padding: 20px;
  color: #898d8d;
}
