#liberty-section{
  position: relative;
  background-image: url("https://s3.amazonaws.com/mtk-wedding/liberty.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#liberty-image{
  visibility: hidden;
  width: 100%;
}

#liberty-content{
  top: 10%;
  position: absolute;
  @include span-columns(12);
  @include shift(1);
}

#liberty-hero-image{
  display: block;
  width: 100%;
  opacity: 0.8;
}

.liberty-section-header{
  color: #ffffff;
 font-size: 40px;
}
