#liberty-section{
  position: relative;
  background-image: url("https://s3.amazonaws.com/mtk-wedding/liberty.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: -4px;
}

#liberty-image{
  visibility: hidden;
  width: 100%;
}

#liberty-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#liberty-hero-image{
  display: block;
  width: 100%;
  opacity: 0.8;
}

.liberty-section-header{
  color: #ffffff;
  font-size: 60px;
}

@media (max-width: 1200px){
  ul.tabs li{
    font-size: 60px !important;
  }
}
