#mobile-content{
  position: relative;
  font-family: 'Open Sans Condensed';
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  h2{
    text-align: center;
  }
}

hr{
  margin: 30px 0 30px 0;
}

#wedding-section{
  text-align: center;
}

#weekend-events-section{
  text-align: center;
}

#travel-section{
}

#registry-section{
  text-align: center;
}

#mobile-hero{
  width: 100%;
  height: auto;
}
