#desktop-nav-bar{
  z-index: 999;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 0px 1px #888888;
  ul{
    padding: 10px;
    text-align: center;
    li{
      display: inline;
      padding-right: 5%;
      font-family: 'Champs';
      font-size: 1.5em;
      text-transform: uppercase;
      li:nth-child(5){
        padding-right: 0;
      }
    }
  }
  a{
    text-decoration: none;
    color: #898d8d;
  }
}

.hash{
  text-align: center;
  color: #898d8d;

  span.hashtag{
    font-family: 'Champs';
    font-size: 20px;
    text-align: center;
  }

  span.f-letter{
    font-size: 25px;
  }
}

#coming-soon{
  font-size: 0.7em;
}

#mobile-nav-bar{
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  ul{
    padding:10px;
    margin: 0;
    text-align: center;
    li{
      padding-right: 5%;
      font-family: 'Champs';
      font-size: 1.5em;
      text-transform: uppercase;
      li:nth-child(5){
        padding-right: 0;
      }
    }
  }
  a{
    text-decoration: none;
    color: #898d8d;
  }
}

#coming-soon{
  font-size: 0.7em;
}
