#rsvp-section{
  background-image: url("/form_frame.png");
  background-size: 100% 100%;
  text-align: center;
}

#rsvp-inner-frame{
  padding:125px 200px 200px 200px;
}

#arrow{
  padding-top: 20px;
  width: 25%;
}
