#rsvp-section{
  background-image: url("/form_frame.png");
  background-size: 100% 100%;
  margin: 50px;
  box-shadow:  5px 5px 5px #888888;
}

#rsvp-inner-frame{
  padding:100px 200px 200px 200px;
}

#rsvp-return{
  color: #ffffff;
  text-shadow:  2px 2px 2px #333333;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
  font-weight: bold;
  a{
    text-decoration: none;
    color: #ffffff;
  }
}
