.x-circle{
  float: right;
  cursor: pointer;
  color: black;
  font-family: arial;
  font-size: 25px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
  padding-top: 15%;
}
ul.tabs li{
  color: white;
  font-size: 80px;
  display: inline-block;
  cursor: pointer;
  padding: 30px;
  text-align: center;
  text-shadow: #000000 5px 5px 20px, #000000 -5px -5px 20px, #000000 5px
  -5px 20px, #000000 -5px 5px 20px;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  background: rgba(239, 237, 233, 0.9);
  padding: 15px;
  color: #333333;
  font-family: arial;
  ul{
    padding: 0;
    list-style-type: none;
  }
}

.tab-content.current{
  display: inherit;
}

